<h1 class="pb-4">Explore Popular Blogs</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(popularblog != '') { %>
        <% popularblog.forEach(function(popularblog, index){ %>
        <a href="/popularblog/<%= popularblog._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= popularblog.image %>" alt="<%= popularblog.name %>" Loading="lazy">
            </div>
            <div class="pt-1"><%= popularblog.name %></div>
        </a>
        <% }) %>
                <% } else { %>
                   <p>No items found.</p>
                   <% } %>    
           
</div>
